@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

.cormorant-garamond-regular {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
  color: text-gray-700;
}

body {
  p, h1, h2, h3,h4,h5,h6 {
    color: text-dark;
  }
  color: rgb(var(--foreground-rgb));
background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    ) */
    rgb(var(--background-start-rgb));
    min-height: 100dvh;
}

.bg-hero {
  /* background: rgb(2,0,36); */
/* background: linear-gradient(10deg, rgba(2,0,36,1) 0%, rgba(78,92,81,1) 53%);  */
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/hero.png') slate; */

}

.image-container {
  /* position: unset !important; */
}

.image {
  /* object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important; */
}

input::file-selector-button {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
  background-color: #A8491F;
  color: #f3f4f6;
  padding: 0.7em 1.4em;
  font-size: 0.875rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  outline: none;
  border: 2px solid transparent;

  &:hover,
  &:focus {
    background-color: #A0522D;
    outline-offset: 2px;
    border-color: #CD853F;
    border-radius: 0;
  }
}


.primary-button {
  @apply bg-rust-300 px-6 py-3 text-sm font-semibold text-white shadow-sm hover:bg-rust-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-rust-500
}

.text-href {
  @apply  hover:text-rust-400 focus:outline-none focus:ring-2 focus:ring-opacity-50 focus:ring-rust-500;
}

.primary-button:disabled {
  @apply bg-gray-300 text-gray-700 cursor-not-allowed;
}

a[href]:focus {
  @apply  hover:text-rust-400 focus:outline-none focus:ring-2 focus:ring-opacity-50 focus:ring-rust-500;
}

  /* input:focus {
  @apply w-4 h-4 text-rust-500 bg-gray-100 border-gray-300 focus:ring-rust-300 dark:focus:ring-rust-500 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500
}

textarea:focus {
  @apply outline-none ring-2 ring-opacity-50 ring-rust-500;
} */

/*TEXT*/
.dark-text {
  @apply text-gray-700
}

.light-text {
  @apply text-gray-100
}

.bg-blob {
  @apply relative left-1/2 -z-10 aspect-[1155/678] w-[36.125rem] max-w-none -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#657368] to-[#EEE7CD] opacity-30 sm:left-[calc(50%-40rem)] sm:w-[72.1875rem];
}
